Note: Machine Learning - Linear Regression - Currently Training for 1988 Medal Count

In [1]:
import pandas as pd

# Data Pre-Processing

In [2]:
# Load training data
train_data = pd.read_csv("train.csv")
train_data

    Year Country  Total_Medals  Gold  Silver  Bronze  Athletes  Event  Sport
0   1896     USA            19    11       6       2        14     16      3
1   1900     USA            54    21      16      17        75     41     10
2   1904     USA           230    76      79      75       524     95     18
3   1906     USA            23    12       5       6        38     28      5
4   1908     USA            46    22      12      12       122     52     10
5   1912     USA            63    26      18      19       174     68     11
6   1920     USA            95    41      27      27       288    113     18
7   1924     USA            99    45      27      27       299    108     18
8   1928     USA            56    22      18      16       280     96     15
9   1932     USA           110    44      36      30       474    122     17
10  1936     USA            57    24      21      12       359    127     21
11  1948     USA            84    38      27      19       300    126     19
12  1952     USA            76    40      19      17       286    133     18
13  1956     USA            74    32      25      17       305    144     19
14  1960     USA            71    34      21      16       292    147     17
15  1964     USA            90    36      26      28       346    159     19
16  1968     USA           107    45      28      34       357    167     18
17  1972     USA            94    33      31      30       400    185     21
18  1976     USA            94    34      35      25       396    189     19
19  1984     USA           173    82      61      30       522    217     25

In [3]:
# Load testing data
test_data = pd.read_csv("test.csv")

test_data

   Year Country  Gold  Silver  Bronze  Athletes  Event  Sport
0  1988     USA  36.0    31.0    27.0       527    230     27
1  1992     USA  37.0    34.0    37.0       545    248     28
2  1996     USA  44.0    32.0    25.0       648    263     31
3  2000     USA  36.0    24.0    31.0       586    265     31
4  2004     USA  36.0    39.0    26.0       533    254     31
5  2008     USA  36.0    39.0    35.0       588    258     32
6  2012     USA  46.0    28.0    29.0       529    245     31
7  2016     USA  46.0    37.0    38.0       555    245     33
8  2020     USA   NaN     NaN     NaN         0      0      0

In [4]:
train_data = pd.DataFrame(train_data)
train_data.describe().columns

Index(['Year', 'Total_Medals', 'Gold', 'Silver', 'Bronze', 'Athletes', 'Event',
       'Sport'],
      dtype='object')

In [5]:
# Assign X and y for test and training data
y_train = train_data["Total_Medals"]
X_train_features = train_data[["Year", "Athletes", "Event","Sport"]]
X_train = X_train_features.values


X_test_features = test_data[["Year", "Athletes", "Event","Sport"]]
X_test = X_test_features.values

# Create and Train(Fit) Model

In [7]:
 # Create a LinearRegression model and fit it to the scaled training data

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
print(f"Training Data Score: {model.score(X_train, y_train)}")

Training Data Score: 0.7960249999242058

# Hyperparameter Tuning - GridSearchCV

In [9]:
# # https://towardsdatascience.com/hyperparameter-tuning-c5619e7e6624


# from sklearn.model_selection import GridSearchCV

# param_grid = {
#     'C': [[1, 5, 10, 50]]}

# grid = GridSearchCV(model, param_grid = param_grid, verbose=3, n_jobs=-1)



# # Fit the model
# grid.fit(X, y)


# # List the best parameters for this dataset
# # List the best score

# print(grid.best_params_)
# print('Best Grid score: %.3f' % grid.best_score_)


# # Make predictions with the hypertuned model
# predictions = grid.predict(X_test)

# Make Predictions

In [10]:
# Make predictions with model
predictions = model.predict(X_test)

In [11]:
# Predicting - currently looking at 1988 only - displaying all years for prepping future predictions

output = pd.DataFrame({'Year': test_data.Year, 'Total_Medals': predictions})
output

   Year  Total_Medals
0  1988    138.577221
1  1992    150.878708
2  1996    179.506644
3  2000    154.988949
4  2004    120.670764
5  2008    130.928517
6  2012     96.428833
7  2016     90.142204
8  2020   -207.809845

Note: Without GridSearchCV without Host


Actual medal count for 1988: 94
Error: 44